body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
    width: 120px;
    background-color: #f1f1f1;
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 12px;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #555;
    color: white;
}

section {
    display: flex;
   }
   
   aside {
    flex: 1
   }
   
   article {
    flex: .5
   }
